@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  /* src: url(../public/ComicShannsMonoNerdFont-Regular.otf); */
  src: url(../public/Poppins-Regular.ttf);
  /* font-family: comic; */
  font-family: poppins;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: transparent;
  color: black;
  /* font-family: comic, sans-serif; */
  font-family: poppins;
}
.header_list div {
  cursor: pointer;
}
