.picBox {
  width: 48rem;
  height: 30rem;
  rotate: 6deg;
  border-radius: 2rem;
  background: linear-gradient(90deg, rgba(254, 61, 0, 1) 0%, rgba(255, 192, 9, 1) 100%);
}
.picBox::after {
  background-image: url('../public/picExam.jpg');
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
  content: '';
  display: block;
  background-color: red;
  width: 100%;
  height: 100%;
  rotate: -6deg;
}
