.main_page {
  /* width: calc(100% - 25rem); */
  /* padding: 5rem 1rem; */
  /* height: calc(100%-4rem); */
  /* padding-top: 2rem; */
  top: 2rem;
}

.dashboard_menu {
  box-sizing: border-box;
}
.main_item {
  padding-left: 0.7rem;
}
.main_item * {
  /* font-size: 1.3rem; */
  text-align: center;
  display: flex;
  gap: 0.5rem;
}
.wrapper {
  height: 3px;
  width: 100%;
  background-color: #333;
}
.showItem {
  cursor: pointer;
  padding: 0.6rem 0.2rem 0.6rem 1.5rem;
  border-radius: 1rem;
}
.showItem:hover {
  background-color: #425b61;
}

/* Dark mode styles for dashboard */
html.dark .dashboard_menua {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
}

html.dark .main_page {
  background-color: #0f0f0f;
  color: #ffffff;
}

html.dark .wrapper {
  background-color: #444;
}

html.dark .showItem:hover {
  background-color: #333;
}

html.dark .showItem {
  color: #ffffff;
}

html.dark {
  background-color: #0f0f0f;
  color: #ffffff;
}
