.main_page {
  /* width: calc(100% - 25rem); */
  /* padding: 5rem 1rem; */
}

.dashboard_menu {
  box-sizing: border-box;
}
.main_item {
  padding-left: 0.7rem;
}
.main_item * {
  /* font-size: 1.3rem; */
  text-align: center;
  display: flex;
  gap: 0.5rem;
}
.wrapper {
  height: 3px;
  width: 100%;
  background-color: #333;
}
.showItem {
  cursor: pointer;
  padding: 0.6rem 0.2rem 0.6rem 1.5rem;
  border-radius: 1rem;
}
.showItem:hover {
  background-color: #425b61;
}
